<div class= "jumbotron">
	<body>Welcome! This isn't much at the moment, but will be the epicenter for my eventual empire!</body>
</div>

	<body>I believe that moving should be easy. I believe in traveling light. I want a world where I can settle down without the weight of my belongings on my back. 
	</body>
	
	<% if user_signed_in? %>
		# You're awesome! We'll have more content shortly
	<% else %>
	<p><%= link_to "Signup", new_user_registration_path, class: "btn btn-success btn-lg" %>
	<%= link_to "Login", new_user_session_path , class: "btn btn-warning btn-lg" %></p>
	<% end %>
