<div class= "jumbotron">
	<h1>Welcome! This isn't much at the moment, but will be the epicenter for my eventual empire!</h1>
</div>

	<body>I believe that moving should be easy. I believe in traveling light. I want a world where I can settle down without the weight of my belongings on my back. 
	</body>
	<p>Sign up here to join! <%= link_to "Signup", "#", class: "btn btn-success" %></p>
	